@keyframes modalFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



// Media queries
@media (max-width: 768px) {
  .country-details {
    grid-template-columns: 1fr;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    width: 100%;
    max-width: 300px;
  }
}